<a href="https://colab.research.google.com/github/esadhipars/BENGKOD/blob/main/tugas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from imblearn.over_sampling import SMOTE

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df = pd.read_csv('/content/drive/MyDrive/projek bengkod/ObesityDataSet.csv')
print("Jumlah baris dan kolom:", df.shape)

Jumlah baris dan kolom: (2111, 17)

In [11]:
#Cek dan tangani missing values
print("\nMissing values:")
print(df.isnull().sum())
df.dropna(inplace=True)

Missing values:
Age                               0
Gender                            0
Height                            0
Weight                            0
CALC                              0
FAVC                              0
FCVC                              0
NCP                               0
SCC                               0
SMOKE                             0
CH2O                              0
family_history_with_overweight    0
FAF                               0
TUE                               0
CAEC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [12]:
#Tangani duplikasi data
print("\nJumlah duplikat:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

Jumlah duplikat: 18

In [14]:
#tangani outlier dengan Z-Score (threshold > 3)
numerik = df.select_dtypes(include=np.number).columns
z_scores = np.abs(stats.zscore(df[numerik]))
df = df[(z_scores < 3).all(axis=1)]
print("\nJumlah data setelah outlier dihapus:", df.shape)

Jumlah data setelah outlier dihapus: (1943, 17)

In [15]:
#Encode data kategorikal
categorical = df.select_dtypes(include='object').columns
le = LabelEncoder()
for col in categorical:
    df[col] = le.fit_transform(df[col])
print("\nContoh data setelah encoding:")
print(df.head())

Contoh data setelah encoding:
   Age  Gender  Height  Weight  CALC  FAVC  FCVC  NCP  SCC  SMOKE  CH2O  \
0  377       1     276     891     4     1   154  434    1      1   506
1  377       1      25     823     3     1   739  434    2      2  1169
2  655       2    1202    1019     2     1   154  434    1      1   506
3  951       2    1202    1256     2     1   739  434    1      1   506
4  542       2    1104    1299     3     1   154    0    1      1   506

   family_history_with_overweight   FAF  TUE  CAEC  MTRANS  NObeyesdad
0                               2     0  779     3       4           1
1                               2  1093    0     3       4           1
2                               2   981  779     3       4           1
3                               1   981    0     3       5           5
4                               1     0    0     3       4           6

In [16]:
#Cek korelasi untuk feature selection
correlation = df.corr()['NObeyesdad'].abs().sort_values(ascending=False)
print("\nKorelasi terhadap target:")
print(correlation)

Korelasi terhadap target:
NObeyesdad                        1.000000
family_history_with_overweight    0.323036
CAEC                              0.298409
Age                               0.272283
Weight                            0.137890
FAF                               0.129653
CALC                              0.118836
CH2O                              0.095678
NCP                               0.073492
TUE                               0.053726
FAVC                              0.050638
MTRANS                            0.048881
Height                            0.040140
SCC                               0.039509
Gender                            0.019676
SMOKE                             0.014205
FCVC                              0.012510
Name: NObeyesdad, dtype: float64

In [17]:
#Pisahkan fitur dan target
X = df.drop(columns='NObeyesdad')
y = df['NObeyesdad']

In [18]:
#Tangani imbalance data dengan SMOTE
print("\nSebelum SMOTE:")
print(y.value_counts())
smote = SMOTE(random_state=42)
X_sm, y_sm = smote.fit_resample(X, y)
print("\nSetelah SMOTE:")
print(pd.Series(y_sm).value_counts())

Sebelum SMOTE:
NObeyesdad
2    331
4    304
1    268
3    268
5    260
6    259
0    253
Name: count, dtype: int64

Setelah SMOTE:
NObeyesdad
1    331
5    331
6    331
2    331
0    331
3    331
4    331
Name: count, dtype: int64

In [19]:
#Normalisasi fitur
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_sm)

In [20]:
#Gabungkan kembali ke DataFrame akhir
df_final = pd.DataFrame(X_scaled, columns=X.columns)
df_final['NObeyesdad'] = y_sm

# Kesimpulan Tahap Preprocessing

1.Data dikonversi ke tipe numerik dan missing value sudah ditangani.

2.Ketidakseimbangan kelas ditangani menggunakan SMOTE.

3.Data dinormalisasi menggunakan StandardScaler.

4.Dataset siap digunakan untuk proses modeling pada tahap berikutnya.